[Desktop Entry]
Name=lpf-notify
Version=1.0
GenericName=Local Package Factory notifications daemon.
Comment=Notify user if lpf packages needs to be rebuilt.
Exec=/usr/share/lpf/scripts/lpf-notify notify-watch /usr/share/lpf/scripts/notify
Icon=lpf
Type=Application
Terminal=false
Categories=GTK;System;
